<div class = "container">
	
	<ul>
  		{{#each Articles}}
    		<li class="col-md-12 list">
    			<div class="image_div" height="100">
    				<img src="{{image}}">
    			</div>

    			<div class="titleLinkDiv">
    				<h5>{{this.title}}</h5>
    				<a class="link">{{this.link}}</a>
    				<br>
	    			

	    			<div class='add_comments_div'>
						<form action='/submit' method='POST'>
    						<textarea type="text" name='text'></textarea>
    						<button class='submit' type="submit">Post</button>
						</form>		
	    			</div>

	    			<div>
		    			<form action='/articles/{{this.id}}' method='GET'>
							<button class='comments'>Comments!</button>
						</form>	
	    			</div>

	    			<div class="viewComments">
						<ul>
							{{#each comment}}
								<li>
									{{this.text}}
										<form action='/delete/{{this.id}}' method='GET'>
											<button class='comments'>X</button>
										</form>	
								</li>
							{{/each}}
						</ul>
	    			</div>	
    			</div>

    		</li> 
  		{{/each}}
	</ul>
		

	<div class='moreNews col-md-12'>
		<form action='/scrape' method='GET'>
			<button class='pigButton'>More PIG News!</button>
		</form>
	</div>
</div>